@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: lightgray;
}

header{
    background-color: rgb(141, 9, 9);
    padding: 30px;
    text-align: center;
    height: 100px;
}

header > h1{
    padding: 10px;
    font-variant: small-caps;
    font-size: 3em;
}

nav{   
    background-color: rgb(141, 9, 9);
    padding: 10px;
}

nav > a{
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
}

nav > a:hover{
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 5px;
    margin: 10px;
    transition-duration: .3s;
}

main{
    background-color: white;
    max-width: 1200px;
    height: 740px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    padding: 30px 10px 30px 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}


a.sec{
    text-decoration: none;
    color: black;
}

a.sec:hover{
    transform: translate(5%, 5%);
    transition-duration: .2s;
}

section{
    border: 1px solid black;
    text-align: center;
    width: 300px;
    height: 320px;
    margin-bottom: 30px;
    border: 2px solid black;
}

section > div.conteudo > h2{
    padding: 10px;
}

section > div.imagem{
    background-size: cover;
    width: 100%;
    height: 70%;
}

section > div#img1{
    background: black url("../midia/section-stw-m.jpg") no-repeat center center;
}

section > div#img2{
    background: black url("../midia/section-nirvana-m.jpg") no-repeat center center;
}

footer{
    align-self: flex-end;
    background-color: rgb(141, 9, 9);
    color: white;
    padding: 5px 0px;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

footer > p > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer > p > a:hover{
    text-decoration: underline;
}