@charset "UTF-8";

:root{
    --cor1: #880000;

}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: var(--cor1);

    padding: 70px;
    text-align: center;
}

header > h1{
    font-variant: small-caps;
    font-size: 3.2em;

    text-shadow: 1px 1px 20px black;
}

header > p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    padding: 20px;

    text-shadow:  1px 1px 20px black;
}

nav{
    background-color: var(--cor1);
    padding: 10px;
}

nav > a{
    color: black;
    font-weight: bold;
    text-decoration: none;

    font-size: 1.1em;
    padding: 5px;
}

nav > a:hover{
    background-color: rgba(27, 27, 27, 0.308);
    margin: 15px; 
    transition-duration: .5s;
    border-radius: 5px;
}