@charset "UTF-8";

:root{
    --cor1: #880000;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

html{
    height: 100vh;
}

header{
    background-color: var(--cor1);

    padding: 70px;
    text-align: center;
}

header > h1{
    font-variant: small-caps;
    font-size: 5em;

    text-shadow: 1px 1px 2px black;
}

header > p{
    font-size: 1.3em;
    text-shadow: 1px 1px 30px black;

    padding: 20px;
}

nav{
    background-color: var(--cor1);
    padding: 10px;
}

a{
    color: black;
    font-weight: bold;
    text-decoration: none;

    font-size: 1.1em;
    padding: 5px;
}

nav > a:hover{
    background-color: rgba(27, 27, 27, 0.308);
    padding: 10px; 
    transition-duration: .5s;
    border-radius: 5px;
}

section{
    position: relative;
    top: 50%;
    left: 18%;

    text-align: center;

    border: 1px solid black;
    height: 340px;
    width: 350px;

    box-shadow: 0px 0px 10px black;
}

section > img{
    width: 100%;
    height: 70%;
}

section > p{
    font-size: 1.5em;
}

section:hover{
    margin: 20px;
    transition-duration: .5s;
}

footer{
    background-color: var(--cor1);
    text-align: center;
    color: white;
    padding: 5px;
}

footer > p > a{
    color: white;
}

footer > p > a:hover{
    text-decoration: underline;
    
}
