@charset "UTF-8";

:root{
    --color: #880000;

}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: var(--color);

    padding: 70px;
    text-align: center;
}

header > h1{
    font-variant: small-caps;
    font-size: 3.2em;
}

header > p{
    font-size: 1.3em;
    padding: 20px;
}

nav{
    background-color: var(--color);
    padding: 10px;
}