@charset "UTF-8";

@media screen and (min-width: 882px){

    main{
        height: auto;
    }

    section.inicio{
        font-size: 1.5em;
        width: 500px;
        height: 520px;
    }

    section.inicio > div.imagem{
        width: 100%;
        height: 70%;
    }

    section > div#img1{
        background: black url("../midia/section-stw-g.jpg") no-repeat center center;
    }

    section > div#img2{
        background: black url("../midia/section-nirvana-g.jpg") no-repeat center center;
    }

    footer{
        margin-top: 106px;
    }

    section.sobre{
        margin: 20px 40px;
        padding: 0px 0px;
    }

}